body{
    background-color: #231f1d;
	margin: 0;
}
.hide{
	visibility: hidden;
}
.show{
	visibility: visible;
}
.txt{
	margin: 0;
	text-align: center;
	padding-top: 20px;
	font-family: 'Shrikhand', cursive;
	font-size: 2.5em;
	color: #231f1d;
}
h2[class='txt']{
	font-family: 'Muli', sans-serif;
	font-size: 3.5em;
}
h3[class='txt']{
	font-size: 20px;
	font-family: 'Muli', sans-serif;
	padding-top: 12px;
}
#top{
	height: 220px;
	background: #0f6354;
	margin: 0;
	
}

#container{

	width: 600px;
	margin: 50px auto;
}

.square{
	width: 30%;
	padding-top: 28%;
	margin: 1.6%;
	background-color: #591384;
	float: left;
	border-radius: 20px;
}
.square:hover{
		opacity: 0.8;	
}

#menu{
	height: 40px;
	margin-top: 0;
	background: #19422c;
}
.btn{
	height: 40px;
	margin: 0;
	width: 100px;
	border: 0;
	background: #19422c;
	font-size: 17px;
	font-family: 'Muli', sans-serif;	
	color: #fff;
}
.hard{
	background: #112d1e;
}
.btn:hover{
	background: #112d1e;
}

.rgh{float: right;}

#in{
	width: 585px;
	margin-left: auto;
	margin-right: auto;

}